.holder{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box{
    text-align: center;
    font-size: 50px;
    width: 16%;
    height: 30vh;
}
.box3{
background-color: green;
color: black;
}
.box4{
    background-color: green;
    color: black;
}
.box5{
    background-color: green;
    color: black;
}
.box6{
    background-color: green;
    color: black;
}
.box7{
    background-color: green;
    color: black;
}
.box1{
    background-color: red;
    color: black;
}
.box2{
    background-color: blue;
    color: black;
}